<%- include("partials/header"); %>

  <div class="comment-container">

    <%posts.forEach(function(post){%>
      <div class="container">
        <div class="comment-box">
          <div class="user-details">
            <div class="detail">
              <h5><%= post.title %></h5>
            </div>
            <div class="detail">
              <h5><%= post.name %></h5>
            </div>
            <div class="detail">
              <h5>30 May, 2020</h5>
            </div>
          </div>
          <div class="content-display">
            <p><%= post.comment %></p>
          </div>
          <form action="/editPost" method="post">
            <button class="btn btn-md btn-light" type="submit" name="button">Edit your post</button>
          </form>
        </div>
      </div>
    <%})%>
    
  </div>

<%- include("partials/footer"); %>
